<!--The content below is only a placeholder and can be replaced.-->

<ngb-tabset type="tabs">
    <ngb-tab title="Lists">
      <ng-template ngbTabContent>
        <app-lists></app-lists>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Tables">
      <ng-template ngbTabContent>
        <app-tables></app-tables>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>