<div class="container">
  <div class="form-group">
    <label for="">Hero Name</label>
    <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
    <small id="helpId" class="text-muted">Help text</small>
  </div>
</div>